flows (4).json
[{"id":"10f7402f.ac90a","type":"tab","label":"Lab5_AirCon_monitor","disabled":false,"info":""},{"id":"cc72cd68.1e07a","type":"inject","z":"10f7402f.ac90a","name":"訂閱 AirCon","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["46f33ad2.a70384"]]},{"id":"6d08a9dd.6ae318","type":"debug","z":"10f7402f.ac90a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":180,"wires":[]},{"id":"f2146ea6.eaa1","type":"http in","z":"10f7402f.ac90a","name":"","url":"/AirCon","method":"post","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["a63bd872.a86598"]]},{"id":"a63bd872.a86598","type":"xml","z":"10f7402f.ac90a","name":"","property":"payload","attr":"","chr":"","x":270,"y":80,"wires":[["f1f4e40c.637ab8"]]},{"id":"fcae1751.066958","type":"http response","z":"10f7402f.ac90a","name":"Notification Response","statusCode":"","headers":{},"x":620,"y":60,"wires":[]},{"id":"5687ee18.cd90a","type":"inject","z":"10f7402f.ac90a","name":"刪除訂閱 AirCon","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["b12d12f1.538bd"]]},{"id":"9f28c46a.63a778","type":"debug","z":"10f7402f.ac90a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":240,"wires":[]},{"id":"b12d12f1.538bd","type":"http request","z":"10f7402f.ac90a","name":"","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://192.168.192.130.:8282/~/mn-cse/mn-name/Air_Conditioner/DATA/SUBSCRIPTION","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":240,"wires":[["9f28c46a.63a778"]]},{"id":"46f33ad2.a70384","type":"Subscription","z":"10f7402f.ac90a","name":"","platform":"30961f57.e7077","sensor":"4f11d0df.922d6","container":"DATA","path":"http://192.168.1.5:1880/AirCon","x":330,"y":180,"wires":[["6d08a9dd.6ae318"]]},{"id":"f1f4e40c.637ab8","type":"switch","z":"10f7402f.ac90a","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":80,"wires":[["fcae1751.066958"],["885e6ddc.6df5a"]]},{"id":"885e6ddc.6df5a","type":"function","z":"10f7402f.ac90a","name":"取出狀態","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":100,"wires":[["e4edcf7f.9a6d1"]]},{"id":"d30c224a.7bf42","type":"debug","z":"10f7402f.ac90a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":100,"wires":[]},{"id":"e4edcf7f.9a6d1","type":"xml","z":"10f7402f.ac90a","name":"","property":"payload","attr":"","chr":"","x":710,"y":100,"wires":[["8bcadd78.ca8c2"]]},{"id":"8bcadd78.ca8c2","type":"function","z":"10f7402f.ac90a","name":"","func":"var New = {state:null,temp:null,fan:null};\nNew.state = msg.payload.obj.bool[0].$.val;\nNew.temp = msg.payload.obj.str[0].$.val;\nNew.fan = msg.payload.obj.str[1].$.val;\nmsg.payload = New;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":100,"wires":[["d30c224a.7bf42"]]},{"id":"30961f57.e7077","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://192.168.198.130:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"4f11d0df.922d6","type":"AE","z":"","appId":"Air_Conditioner"}]